# config for Triton.snakefile
# Robert Patton, rpatton@fredhutch.org (Ha Lab)
# v1.0


################
# config files #
################

cluster_slurm: config/cluster_slurm.yaml # used to get info about available CPUs
# annotation: config/ATAC-Filtered.txt # ATAC-seq identified sites; use window and composite: True
# annotation: config/MANE.GRCh38.v1.3_TranscriptBodies.bed # transcript bodies; use window: None and composite: False
# annotation: config/MANE.GRCh38.v1.3_TSS.bed # transcription start sites; use window and composite: False
# annotation: config/GTRD_F10000.tsv # filtered TFBS lists (10,000 sites per); use window and composite: True
# annotation: config/GTRD_F1000.tsv # filtered TFBS lists (1,000 sites per); use window and composite: True

##############
# parameters #
##############

reference_genome: /fh/fast/ha_g/grp/reference/GRCh38/Broad_bundle_hg38/v0/Homo_sapiens_assembly38.fasta # use hg38
results_dir: results # where your results will go
map_quality: 20 # minimum mapping quality to keep a read
size_range: 15 500 # range of fragment lengths to be used for analysis
window: 2000 # None to use full site range; required for composite
composite: True # True if passing a list of BEDs; False if a single BED
